.add-order-tag{
    margin-top:15px;
}
.invoice_buttons{
    margin-top: 2px;
    padding-top: 15px;
}
.tag-inf{
    margin-top:5em;
    margin-Left:5em;
}
.label{
    width:50%;
    display: flex;
    margin-left: 10em;
    padding-top: 2em;
}
.checkbox{
    margin-left: 14em;
}
.text{
     width: 50%;
}