.device-headline{
    margin: 10px;
}
.new-device{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.device-button{
    background-color: #F2F2F2;
    border-radius: 6px;
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
.detail-attributes{
    padding-right: 10px;
    padding-top: 5px;  
}
.edit-device{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.device-list{
    width: 65%;
}
.device-field{
    width: 50%;
}
.filter-button{
    margin-top: 10px;
    display: flex;
}
.device-notification{
    float: right;
    width: 30%;
    margin-top: 3%;
}
.device-buttons{
    background-color: #F2F2F2;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.save-device{
    text-align: right;
    padding: 12px 25px 10px 0px;
}
.device-filter{
    margin-right: 15px;
    margin-left: auto;
}
