.company-title_text{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0px 10px;
  }
  .add-button{
    float: right;
    margin-left: auto;
  }
  .emptyData{
    text-align: center;
  }
  .company-results{
      padding : 9px 0px 0px 10px;
  }
.spinner{
   padding:10% 0px 0px 45% ;
}
.box-style {
  padding: 0 1% 0 1%;
}