.invoice_button{
    background-color: #F2F2F2;
    margin-top:10px;
    display: flex;
    width: 100%;
    justify-content: flex-end  
}
.invoice_buttons{
    text-align: right;
    padding: 10px 25px 10px 0px;   
}
.invoice_section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.section_heading{
    padding-bottom: 5px;
    font-size: 1.12rem;
}
.invoice_textbox{
    width: 80%;
}
.invoice_submit{
    margin-top: 10px;
}
.order-label{
    display: flex;
    justify-content: space-between;
}
.refund-button{
    float: right;
}
.refund-total{
    margin-top:10px
}
.refund-totals{
    margin: 20px 0px 20px 0px;
}
.refund-notification{
    display: flex;
}
.refund-message{
    width: 100%;
}
.refund-icon{
    margin-top: 8px;
}