
.address-list{
    list-style-type: none;
    padding-left: 0px;
    /* font-weight: bold; */
}
.background_black{
    border-bottom: 3px solid transparent;
    margin-right: 25px;
    color: black;
    font-size: 1.2rem;
  }
  .background_green{
    border-bottom: 3px solid #00b39e;
    color : #00b39e;
    margin-right: 25px;
    font-size: 1.2rem;
  }
  .order-panel{
      margin: 0px 10px 20px 5px;
      /* padding :10px */
      /* font-weight: bold; */
  }
  .customer{
      padding : 10px 5px 5px 15px;
      width: 100%;
  }
  .addresses{
      padding-top: 10px;
      width: 100%;
  }
  .sub-order{
      background-color: #F2F2F2;
      padding-top: 5px;
      margin-bottom: 10px;
  }
  .order-heading{
      display: flex;
      flex-wrap: wrap;
  }
  .link-button{
      color: black;
      float: right;
    margin-left: auto;
    padding : 5px 25px 0px 0px;
  }
  .order-table{
    width: 100%;
  }
  .address-icon{
      /* padding-top: 10px; */
      padding-right: 5px;
    
  }
  .order-details-address{
      display: flex;
      flex-wrap: wrap;
      padding-top: 10px;
  }
  .order-detail-card{
      margin: 5px;
  }
  .order-grid{
      width:100%;
      margin:10px
  }
  .order-customer{
      padding-top: 5px;
  }
  .diasable-return {
    pointer-events: none;
    border-bottom: 3px solid transparent;
    margin-right: 25px;
    color: black;
    font-size: 1.2rem;
  }
  .spinnerOrder {
    position:fixed;
    width:100%;
    height: 100%;
    top:43px;
    bottom: 0px;
    padding: 25% 35%;
    background-color: rgba(0,0,0,0.20);
    z-index:9999;
    display:block;
  }