.order-payment-card{
    margin:10px;
    width: 100%;
}
.payment-data{
    padding-top: 10px;
}
.payment-panel{
    margin:5px
}
.css-wtj13x-Button-normalizedButtonStyles-AccessibleButton-HeaderContainer-baseStyles-getHeaderContainerStyles-getThemeStyle-CollapsiblePanel{
   font-weight: bold;
   font-size:1.15rem
}