.return-info{
    width: 25%;
    margin: 15px 0px 15px 0px;
}
.return-row-data{
    padding-top: 5px;
    text-align: center;
}
.return_button{
    background-color: #F2F2F2;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end
    
}
.return_buttons{
    text-align: right;
    padding: 10px 25px 10px 0px;   
}
.return-label{
    text-align: center;
}