.quote-table{
    width: 100%;
  }
.panel{
    margin: 10px 10px 20px 5px;
    padding :10px;
}
.background_black{
  border-bottom: 3px solid transparent;
  margin-right: 25px;
  color: black;
  font-size: 1.2rem;
}
.background_green{
  border-bottom: 3px solid #00b39e;
  color : #00b39e;
  margin-right: 25px;
  font-size: 1.2rem;
}
.quote-detail-card{
    margin: 5px;
}
.quote-detail{
    margin: 5px;
}
.quote-grid{
    width:100%;
    margin:10px
}
.emp-mail{
    padding:15px;
    display: flex;
}
.comments-tab{
    display: flex;
    margin-left:10px;
    margin-top:10px;
}
.send-button{
    float:right;
    margin-left:10px;
    margin-top:5px;
}
.comments{
    width:95%;
    visibility: hidden;
}
.mail-icon{
    margin-bottom:10px;
    margin-left: 10px;
}
.user-icon{
    display: flex;
    margin-left: 20px;
}
.general{
    padding:10px;
}
.search-input{
    padding-left: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-right: 50px;
    width:800px;
}
#icon{
    float:right;
    display: flex;
    margin-bottom: 100px;
}
.mails{
    font-size: 20px;
    width: 100%;
    visibility: hidden;
}
.discount{
    padding:5px;
    font-size: 15px;
}
.comments-section{
    width:400%;
}
.money-field{
    padding:20px;
}
.send-button{
    visibility: hidden;
}



