.heading{
  width: 200px;
  height: 60px;
  margin: 4px 565px 0 0;
  padding: 12px 0px 10px 10px;
  font-family: PlantinMTPro;
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
.payment-terms{
    width: 100%;
    height: 24px;
    margin-bottom: 4px;
    font-family: AkkuratPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 42px;
    padding-top: 40px;  
}
.review-payment{
    margin-bottom: 3%;
    margin-right: 60px;
}
.payment-body{
    padding-bottom: 0;
}
.test{
  margin-right: 48px;
  font-family: AkkuratPro;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #999897;
}
.for-private{
    margin-bottom: 18px;
}
.bank-information{
  margin-bottom: 18px;
}
.for-Govt{
  margin-bottom: 18px;
}
.govt-info{
  margin-bottom: 18px;
}
.non-profit-info{
  margin-bottom: 18px;
  margin-top: 12px;
}
.business-type{  
  width: 231px;
  height: 40px;
  margin: 40px 51px 24px 0;
  font-family: AkkuratPro;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
._btn_public {
  margin-right: 48px;
  font-family: AkkuratPro;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;     
}
._btn_private{
    margin-right: 48px;
  font-family: AkkuratPro;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
._btn_Government{
    margin-right: 48px;
  font-family: AkkuratPro;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
._btn_Non_profit{
  font-family: AkkuratPro;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
.buttons{
   display: flex;
}
.forPublic{
  margin-bottom: 18px;
}
.duplicate-input{
    padding-top: 24px;
    padding-bottom: 14px;
}
.text-input{
  width: 370px;
  height: 60px;
  margin: 10px 31px 30px 50px;
  padding: 18px 18px 18px 16px;
  border-radius: 6px;
  border: solid 1px #d7d5d4;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
.text_for_btns{
  width: 1440px;
  height: 24px;
  margin: 24px 42px 24px 0;
  font-family: AkkuratPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}
.payment-save-button{
  display:flex;
  width: 150px;
  height: 40px;
  margin: 40px 220px 0 800px;
  padding: 8px 57px;
  border-radius: 25px;
  background-color: #000000;
  font-family: AkkuratPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}
.billing-address{
  font-weight: bold;
  padding-bottom: 5px;
}
.payment-table{
  border-collapse: separate;
  border-spacing: 0 1.5em;
}
.payment-list-table{
  border-collapse: separate;
  border-spacing: 0 1.5em;
  padding-left :10px;
}
.payment-card{
  margin: 0px 20px 10px 10px;
}
.payment-textFeild{
  width: 500px;
  margin-left:10px;
}

#credit-select-field{
  z-index: 2;;
}