.cron-title {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.cron-subTitle {
    font-weight: 700;
}

.cron-text {
    width: 50%;
}

.cron-label {
    display: flex;
    align-items: center;
    padding-left: 38%;
    font-weight: 400;
    padding-bottom: 20px;
}

.cron-payment {
    display: flex;
    align-items: center;
    padding-left: 11%;
 }

 .save-button{
     display: flex;
     justify-content: flex-start;
 }