.customer-list{

    padding-top: 10px;
    padding-left: 5px;

}
.header-one{
    float: right;
    margin-left: auto;
    display:flex;
    flex-wrap: wrap;
}

.result{
    padding-top: 13px;
    padding-left: 14px;
}

.text-title{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-icon{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-right: 6px;
}

.info-txt{
    margin-left: 5px;
    padding-top: 3px;
    font-weight: bold;
}

.default-dropdown{
    max-width: 220px;
    width:220px;
    display: inline-block;
    margin-top: 6px;
    padding-right: 5px;
    position: relative;
    font-style: italic; 
    padding-bottom: 10px;
    font-size: 12px;   
}

.add-button{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding-top: 6px;    
}

.info-box{
  background-color: #F2F2F2;
  border-radius: 6px;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.filter-icon{
    width:85px;
    padding-top: 10px;
    position: relative;
}

.search-input{
    padding-left: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-right: 50px;
    width:680px;
}
.spinner{
    padding:10% 0px 0px 45% ;
  }

  

