.sales-edit{
    position: absolute;
    width: 100%;
    top: 0%;
    overflow-y: auto;
    padding: 50px;
    color: black;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.5) ;
  }
  #sales-edit-table {
    visibility: hidden;
  }
  .sub-edit-Table{
    margin:20%;
    width: 80%;
    padding: 35px;
    border: 2px solid black;
    background: #ffffff;
    position: relative;
    right: 90px;
  }
  .sales-rep-title_text{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0px 10px;
  }
  .add-button{
    float: right;
    margin-left: auto;
  }
  .notification{
    width: 40%;
    margin-top: 1%;
    margin-left: 15px;
  }
  