.big{
    margin: 10px;
    background-color: rgb(248, 248, 248);
}
.headline{
    margin: 20px;
}
.all-fields{
    margin-top: 10px;
}
.each-field{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.each-date {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
}
.survey-buttons{
    margin-top: 30px;
}