.main {
    margin-top: 5px;
    border-radius: 7px;
}

/* #header {
     font-size: 1.5w;
 }*/
 .main-head{
    background-color: #E6E6E6;
    padding:10px 10px 0px 10px;
    margin:-5px 0 0 -5px;
 }

 .notification{
     width: 40%;
     margin-top: 1%;
 }
 .background_green{
     border-bottom: 3px solid #00b39e;
    color : #00b39e;
    margin-right: 25px;
    font-size: 1.2rem;
 }
 .sub-main{
    background-color:#E6E6E6;
    padding: 10px;
    margin-top: 10px;
 }
 .sub_tab-list{
    display: flex;
    margin: 0;
    padding: 10px 0px 0px 0px;
    list-style-type: none;
 }
 .submitButtons{
     margin-top:10px
 }