.text-field{
    width: 50%;
    margin-top: 15px;
  }
  .sales{
    width: 50%;
  }
  .add{
    margin:top;
    width: 50%;
  }
  .default-button{
    padding-left: 12px;
    padding-top: 7px;
 }
 .row-save-button{
  margin: 20px 0px 0px 10px;
}
.add-row-button{
  margin: 35px 0px 0px 10px
}
.add-row-feild{
  margin : 10px 0px 10px 10px
}
.add-button{
  float: right;
  margin-left: auto;
}
.notification{
  width: 40%;
  margin-top: 1%;
  margin-left: 15px;
}