  .title_text{
    display: flex;
    flex-wrap: wrap
  }
  .close-icon{
    float: right;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .cancel-button-header{
      padding-left: 8px;
      padding-right: 8px;
  }
  .angle-left-icon{
      padding-top: 2px;
      padding-right: 5px;
  }
  .title--text{
      padding-right: 5px;
      padding-left: 5px;
  }
  .line{
    display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid black;
      margin: 1em 0;
      padding: 0;
  }
  .icon{
    display: flex;
    flex-wrap: wrap;
}
.container{
    padding: 10px;
}
.css-diip41-getInputStyles{
    height: 33px;
    min-height: 0px;
    /* margin-top: -4px; */
}
.css-1a768ua-GridContainer{
    padding-right: 10px;
}
.subtitle-text{
    font-size: 1.5rem;
}
.asterisk-color{
    color: red;
}
.css-pp923c-Card{
    padding: 6px;
}
.validation{
    padding-top: 25px;
    /* font-weight: bold; */
    color: red;
}
.country-validation{
    padding-top: 5px;
    /* font-weight: bold; */
    color: red;
}