.arrow-icon{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.info-text{
  background-color: #F2F2F2;
  padding-bottom: 10px;
  margin: 10px;
  margin-top: 12px;
  border-radius: 7px;
  box-shadow: rgba(250, 248, 248, 0.973) 0px 19px 43px;
}
.text-field{
  width: 50%;
  margin-top: 15px;
  padding-top: 10px;
}
.line{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
.icon-holder {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.camera-icon {
    font-size: 3em;
    color: var(--color-solid);
    position: absolute;
    left: var(--spacing-s);
    top: var(--spacing-s);
    display: flex;
    height: 39px;
    width: 39px;
}
.add-icon {
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--color-accent);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: var(--color-surface);
    padding: 5px;
    position: absolute;
    top: 30px;
    right: 3px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-text{
    text-align: center;
    background-color: #fff;
    border: 1px var(--color-neutral-60) dashed;
    font-size: 1rem;
    transition: all 0.3s ease;
    padding: 0 var(--spacing-s);
    width: 120px;
    padding-bottom: 10px;
}
.label-text{
    margin-left: 10px;
    font-size: 13em;
    padding-top: 3px;
}
.title-text{
    padding-top: 15px;
    color: black;
    padding-left: 10px;
    background-color:#E6E6E6;
    border-bottom: 3px solid transparent;
}
.logo-label
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ModalContainer{
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 150vh;
background: rgba(0, 0, 0, 0.5);
}
.css-1um456l-Inset {
 padding :0px ;
}
.company-save-button{
  margin-top: 15px;
}
.notification{
  width: 40%;
  margin-top: 1%;
  margin-left: 15px;
}
.general-section{
  width: 200px;
}
.main-tab-list{
  padding-top: 10px;
}
.sub-tab-list{
  display: flex;
  margin: 0;
  padding: 0px;
  list-style-type: none;
}
.sub-tab-list li a{
  border-bottom: 3px solid transparent;
  margin-right: 25px;
  color: black;
  font-size: 1.2rem;
}
.sub-tab-list li a.active {
  border-bottom: 3px solid #00b39e;
  color : #00b39e;
}

.background-black{
  border-bottom: 3px solid transparent;
  margin-right: 25px;
  color: black;
  font-size: 1.2rem;
}
.background-green{
  border-bottom: 3px solid #00b39e;
  color : #00b39e;
  margin-right: 25px;
  font-size: 1.2rem;
}
.info-text{
  background-color: #F2F2F2;
  padding-bottom: 10px;
  margin: 10px;
  margin-top: 12px;
  border-radius: 7px;
  box-shadow: rgba(250, 248, 248, 0.973) 0px 19px 43px;
}
.info-texts{
  flex-wrap: wrap;
  display: flex;
  padding-top:10px;
  align-items: center;
 }
 .tax-save{
  float:right;
  margin-top: 20px;
 }
 .tax-toggle{
  border-collapse: separate;
  border-spacing: 0 1.5em;
 }
 .ReactModal__Body--open main{
   overflow: auto;
 }