.check-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text-area{
    width: 60%;
    padding-top: 20px;
}
.drop_down{
    width: 45%;
}
.freight{
    padding-bottom: 10px;
    font-weight: bold;
    padding-top: 10px;
    padding-left:10px
}
.carrier{
    padding-top: 10px;
    padding-bottom: 10px;
}
.label_text{
    font-weight: bold;
    padding-bottom: 5px;
}
.main-info{
    padding:10px
}
.save_button{
    margin: 10px 0px 5px 10px;
}
.carrier-checkbox{
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: flex;
}
.delivery-text{
    padding-top:20px;  
}
.shipping_address{
    background-color:#E6E6E6;
    padding:10px
}
.freight_carrier_container{
    background-color:#E6E6E6;
    padding:10px;
    margin-top: 10px;
}
.address-button{
    padding:10px;
    font-weight: bold;
}
.address_panel{
    padding-top: 20px;
}
.freight_info{
    padding :10px 0px 10px 12px;
}
.carrier_info{
    padding :10px 0px 10px 12px;
}
