.input-text{
    height: 400px;
   
    
}
.add-response{
    padding-top: 10px;
    padding-bottom: 5px;
}

.choices{
    padding-top: 20px;
    padding-bottom: 20px;
}

.master-container {
    padding: 10px;
    background-color: lightgrey;
}
.display-input-text{
    padding-top: 10px;
    width: 50%;
}
.survey-container{
    padding: 10px;
}