.addsubs {
    margin: 10px;
}
.card-style
{
    
    height: 25%;
    width: 25%;
}

.inner-card{
    width: 100%;
    padding: 10px;
    margin: 2px;
    margin-top: 10px;
}

.cross-button{
float: right;
margin-top: 5px;    
margin-left: 20px;

}
.filter-icon{
    margin-bottom: 10px;
}

.each-items{
    margin: 10px;
}