.each-items{
    margin: 10px;
    width: 50%;
}

.formModal-body {
    margin: 10px;
    background-color: rgb(235, 233, 233);
    
    align-items: center;
}   
.card-inside-card{
    padding: 10px;
}
.address-Card
{
    margin: 10px;
    width: 98%;
}
.very-big-container{
    margin: 10px;
}
