.order-container{
    padding: 10px;
}
.address-list{
    list-style-type: none;
    padding-left: 0px;
    /* font-weight: bold; */
}
.background_black{
    border-bottom: 3px solid transparent;
    margin-right: 25px;
    color: black;
    font-size: 1.2rem;
  }
  .background_green{
    border-bottom: 3px solid #00b39e;
    color : #00b39e;
    margin-right: 25px;
    font-size: 1.2rem;
  }
  .panel{
      margin: 0px 10px 20px 5px;
      /* padding :10px */
      /* font-weight: bold; */
  }
  .customer{
      padding : 10px 5px 5px 15px;
      width: 500%;
  }
  .addresses{
      padding-top: 10px;
      width: 100%;
  }
  .sub-order{
      background-color: #F2F2F2;
      padding-top: 5px;
      margin-bottom: 10px;
  }
  .order-heading{
      display: flex;
      flex-wrap: wrap;
  }
  .link-button{
      color: black;
      float: right;
    margin-left: auto;
    padding : 5px 25px 0px 0px;
  }
  .order-table{
    width: 100%;
  }
  .address-icon{
      /* padding-top: 10px; */
      padding-right: 5px;
    
  }
  .order-address{
      padding-top: 10px;
      padding-left: 10px;
      display: flex;
      flex-wrap: wrap;
  }
  .order-detail-card{
      margin: 5px;
  }
  .order-grid{
      width:100%;
      margin:10px
  }
  .order-customer{
      padding-top: 5px;
  }
.info-text{
    width: 100%;
}

.text-display{
    padding: 5px;
}

.input-select {
    width: 25%;
}

.filter-icon{
    padding-top: 10px;
}

.each-card {
    width: 25%
}