.company-title_text{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0px 10px;
  }
.emptyData{
    text-align: center;
  }
 .spinner{
   padding:10% 0px 0px 45% ;
 }

 .pagination-align{
     padding: 10px;
 }
 
 .subscription-list {
   margin: 10px
 }
